<% cancel_path ||= collaborator.persisted? ? [:account, collaborator] : [:account, @campaign, :collaborators] %>

<%= form_with model: collaborator, url: (collaborator.persisted? ? [:account, collaborator] : [:account, @campaign, :collaborators]), local: true, class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/super_select', method: :campaign_id, options: {autofocus: true}, html_options: {autofocus: true},
        choices: @collaborator.valid_campaigns.map { |campaign| [campaign.label_string, campaign.id] } %>
      <%= render 'shared/fields/super_select', method: :user_id, options: {}, html_options: {},
        choices: @collaborator.valid_users.map { |user| [user.label_string, user.id] } %>
      
<% Campaigns::Collaborator.assignable_roles.each do |role| %>
  <% if current_membership.can_manage_role?(role) %>
    <div class="flex items-top">
      <%= form.check_box :role_ids, {multiple: true, class: "h-4 w-4 text-blue focus:ring-blue-dark border-gray-300 rounded mt-0.5"}, role.id, nil %>
      <label for="invitation_membership_attributes_role_ids_<%= role.id %>" class="ml-2 block select-none">
        <span><%= t('invitations.form.invite_as', role_key: t("campaigns/collaborators.fields.role_ids.options.#{role.key}")) %></span>
      </label>
   </div>
  <% end %>
<% end %>

      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
